html {
    box-sizing: border-box;
    font-family: "TT Lakes", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body, p, h1, h2, li, a, ul, button {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1120px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #1b1c21;
}

li {
    list-style: none;
}

button, img {
    border-style: none;
    background: none;
    cursor: pointer;
}

.brands-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #EAEAEA;
}

.brands-content__container {
    width: 100%;
}

.brands-content__container-title {
    background: linear-gradient(to right, #EAEAEA, #FFFFFF);
}

.brands-content__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: #7e7e82;
    padding: 10px 20px;
}

.brands-content__swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: visible;
    margin-bottom: 20px;
}

.swiper-slide {
    display: block;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    transition: transform 0.3s ease;
    width: 220px;
}

.swiper-slide__button:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.swiper-slide__button:active {
    opacity: 0.2;
}

.hp {
    width: 55px;
    height: 44px;
}

.swiper-slide__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.brands-content__swiper {
    padding: 0 20px;
    margin-top: 20px;
}

.brands__button {
    display: none;
}

@media (min-width: 768px) {
    .brands-content__swiper-pagination {
        display: none;
    }

    .brands__button {
        display: block;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .brands__button:hover {
        opacity: 0.5;
    }

    .rotate {
        transform: rotate(180deg);
        transition: transform 0.6s ease;
    }

    div[style] {
        width: 210px !important;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .swiper-slide.hidden {
        display: none;
    }
}

@media (min-width: 1020px) {
    .swiper-slide.hidden {
        display: block;
    }

    .swiper-slide.hiddenDesktop {
        display: none;
    }

    div[style] {
        width: 250px !important;
    }
}

